{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <h3 allign="center">Change Password</h3>
        <div class="form-group">
            <label for="old_password">Enter Old Password</label>
            <input id="old_password" type="password" class="form-control" name="old_password" placeholder="Enter Old Password" required>
        </div>

        {% include "password_entry.html" %}

        <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../static/password_handling.js"></script>
{% endblock %}