{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <h3 allign="center">Reset Password</h3>
        <div class="form-group">
            <label for="user_name_input">User Name</label>
            <input id="user_name_input" type="text" class="form-control" name="user_name" placeholder="Enter User Name" required>
        </div>
        <div class="form-group">
            <label for="email_input">Enter the email associated with the account. We will send the reset code here</label>
            <input id="email_input" type="email" class="form-control" name="email" placeholder="Enter Email" required>
        </div>
        <button type="submit" class="btn btn-primary">Send Reset Code</button>
    </form>
</div>
{% endblock %}